!!! 5
//if IE 7
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 8
  html(lang="en", class="no-js ie", data-ng-app="main", id="ng-app")
//if IE 9
  html(lang="en", class="no-js ie9", data-ng-app="main", id="ng-app")
//if [(gt IE 9)|!(IE)] <!
html(class="no-js", ng-app="main")
  // <![endif]
  head
    meta(charset="utf-8")
    title UP Lunch and Learn
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="description", content="UP Lunch and Learn")
    link(href="./assets/css/style.css", rel="stylesheet", type="text/css")

  body
    .reveal
      .opi-logo
      .slides
        section.index-section(data-state="index-slide")
          .sliding-image-container
            img.animate-logos.angular(src="assets/img/angular.png")
            img.animate-logos.grunt(src="assets/img/grunt-logo.png")
            img.animate-logos.yeoman(src="assets/img/yeoman-logo.png")
            img.animate-logos.node(src="assets/img/node-logo.png")
          .fading-header-container
            h1.animate-headers.angular Angular.js
            h1.animate-headers.grunt Grunt.js
            h1.animate-headers.yeoman Yeoman
            h1.animate-headers.node Node.js
          p.
            Lunch and Learn @ Union Pacific

        section
          h1
            i.icon-github
          p These slides are up on GitHub!
          a(href="http://mrkelly.github.io/up-angular", target="_blank") mrkelly/up-angular

        section
          section
            h2 Today's Objective
            p Share our experience building a production application using Angular JS
            p Many of the topics covered are universal to any JS dev
            p We love questions, don't be shy..you cannot derail us (challenge)

          section
            h2 About Us
            p We are NOT experts, just write a ton of code.

            ul
              li Mike Kelly
                a(href="https://twitter.com/mikerkelly", target="_blank") (@mikerkelly)
              li Bruce Coddington
                a(href="https://twitter.com/brucecoddington", target="_blank") (@brucecoddington)

            small We're ALL noobs

        section
          section
            h2 Project Layout

          section
            h2 Objectives
            ul
              li Familiar for enterprise Java devs
              li Clear separation of concerns
              li Compiled code away from written code
              li Obvious (please)
              li Have our favorite libs play together nicely

          section
            h2 Let's take a look
            a(href="https://github.com/brucecoddington/mixtape", target="_blank") Mixtape on Github

        section
          h2 
            a(href="http://yeoman.io/", target="_blank") Yeoman generators

          ul
            li Spearheaded by famous Googlers (Paul Irish and Addy Osmani)
            li Easy to write custom generators to fit your project
            li Helps keep the project structure consistent
            li Can be published as NPM Modules

        section
          section
            h2 Build Process

            ul
              li Automate Everything!!
              li Minimize developer interaction (just write the code)
              li Discover devs' complaints and try to eliminate them

          section
            h2
              a(href="http://gruntjs.com/", target="_blank") Grunt

            ul
              li The JavaScript Task Runner
              li A ton of tasks already written to do most anything
              li Easy to extend and write your own tasks
              li Gruntfile.js (let's take a look)

          section
            h3 Watch Task

            pre.
              <code data-trim contenteditable>
              // A task that runs in the background 'watching' for changes to code.
              watch : {
                  options : {
                      livereload: true
                  },
                  client: {
                      files: [
                          'client/src/**/*.js',
                          'client/test/**/*.js',
                          '<%= assetsDir %>/templates/**/*.html'
                      ],
                      tasks: ['assemble', 'karma:unit:run', 'karma:e2e:run']
                  },
                  server : {
                      files: [
                          'test/**/*.js',
                          'app/**/*.js'
                      ],
                      tasks: ['mochacli']
                  },
                  views : {
                      files: [
                          'app/views/**/*.jade',
                          '<%= assetsDir %>/less/**/*.less'
                      ],
                      tasks: ['assemble']
                  }
              }
              </code>

          section
            h3 Server Task

            ul
              li Simple custom Grunt task to serve our index.html locally
              li Gives us 'environments' to run our code in different phases
              li Uses 
                a(href="https://github.com/remy/nodemon", target="_blank") nodemon
                | &nbsp;to monitor for changes (restarts the server)
              li Just a wrapper around the CLI for nodemon

          section
            h3
              a(href="http://www.jshint.com/", target="_blank") JSHINT

            ul
              li Since JavaScript is a dynamic language, it's impossible to get static compilation feedback
              li Check that your code follows best practices
              li Add settings to tweak the linting to your tastes
              li Helps keep the code consistent among the team

          section
            h3
              a(href="http://lesscss.org/", target="_blank") LESS
            ul
              li CSS preprocessor to make life a little easier
              li Adds variables and mixins
              li Twitter Bootstrap is written in LESS

          section
            h3 Minification and Uglification
            p Uglification is the optimization/compression/minimization of source code.  For JavaScript, we use 
              a(href="https://github.com/mishoo/UglifyJS2", target="_blank") UglifyJS2
            ul
              li Parser produces abstract syntax tree
              li AST is optimized into a smaller one by
                ul
                  li Applying optimization transforms
                  li Mangling variables
                  li Analyzing the scope
              li As an added benefit: your source code is obsfucated

          section
            h3 Minification Example
            p Minification results on a real project
            ul
              li 
                strong Original 
                | &nbsp;2611949 bytes (2.49MB)
              li 
                strong Minified 
                | &nbsp;996966 bytes (973.5KB)
              li 
                strong Gzipped 
                | &nbsp;170552 bytes (166.5KB)
              li 15:1 Compression ratio

          section
            h3 Special Considerations
            p Because of mangling, Angular dependency injection and "Pretotyping" no longer works and leads to the infamous:
            pre.
              <code data-trim contenteditable>
              Uncaught Error: Unknown provider: aProvider <- a
              </code>
            ul
              li Convert all modules and components to string argument style  
              li Lets take a look

          section
            h3 Templates
            p Templates are static, so why not provide them as a compiled resource? This is where 
              a(href="https://github.com/ericclemmons/grunt-angular-templates", target="_blank") grunt-angular-templates
              | &nbsp;comes in.
            ol
              li Glob match files and directories
              li The $templateCache serivce is then preloaded with the static content
              li Template preload file is then uglified with the rest of the source

        section
          section
            h2 3rd Party Libraries

          section
            h3 
              a(href="http://momentjs.com/", target="_blank") moment.js
            p Arguably the best date formatting library on the planet
            ul
              li Formatting
              li Internationalization
              li Calculations
              li Fuzzy dates

          section
            h3 
              a(href="https://github.com/Modernizr/Modernizr/wiki/HTML5-Cross-Browser-Polyfills", target="_blank") HTML5 Shims and Polyfills
            p A long list of libraries for providing standard HTML4 and HTML5 capabilities in "web browsers" (IE)
            ul
              li SVG
              li Form Elements
              li Web Sockets
              li Browser state

          section
            h3 
              a(href="https://github.com/scottjehl/Respond", target="_blank") respond.js
            p respond.js is a CSS3 polyfill for media queries.
            ul
              li Automatic browser detection
              li Fast and lightweight
              li Works great with Twitter Bootstrap
              li Has a few 
                a(href="https://github.com/scottjehl/Respond#support--caveats", target="_blank") caveats
                  
          section
            h3 
              a(href="http://lodash.com/", target="_blank") Lo-dash
            p "A utility library delivering consistency, customization, performance, and extras."
            ul
              li High performance (in some cases beats browser implementations)
              li Has most utility functions you would typically create yourself

          section
            h3 
              a(href="http://getbootstrap.com/", target="_blank") Twitter Bootstrap
            p One of the best base stylesheets and a great place to start with new applications 
            ul
              li Responsive
              li Written in LESS so its easily extendable
              li Bootstrap 3 supports browsers newer than internet explorer 7
              li Fast paint and rendering times
              li Some of the best plugin support

        section
          section
            h2 Automated Testing

            ul
              li Tests should run automatically during build process
              li Should be very easy to write 
              li Logical placement of tests within code

          section
            h3 
              a(href="http://visionmedia.github.io/mocha/", target="_blank") Mocha

            ul
              li Behavior driven development
              li Runs in the browser and on the server (Node)

          section
            h3 
              a(href="http://chaijs.com/", target="_blank") Chai

            ul
              li Assertion library
              li Can actually be used in real code
            
            pre.
              <code data-trim content-editable>
                expect(foo).to.be.a('string');
                expect(foo).to.equal('bar');
                expect(foo).to.have.length(3);
                expect(tea).to.have.property('flavors').with.length(3);
              </code>

            p Check out 
                a(href="https://www.youtube.com/watch?v=-WpDN2k7vbU", target="_blank") this 
                | &nbsp;awesome talk by Rebecca Murphey at JSConf 2013

          section
            h3 
              a(href="http://docs.angularjs.org/guide/dev_guide.e2e-testing", target="_blank") Angular Scenarios

            ul
              li End to End tests
              li Similar to Selenium testing
              li Created by the Angular team so they are 'Angular-aware'
              li Navigate through the browser and check for correct behavior
              li 
                a(href="http://pivotal.github.io/jasmine/", target="_blank") Jasmine
                | &nbsp;syntax (very similiar to Mocha)

          section
            h3 
              a(href="http://karma-runner.github.io/0.10/index.html", target="_blank") Karma Integration

            p Spectacular test runner from the Angular JS team

            ul 
              li Run your tests in multiple browsers at once
              li simple configuration
              li 'Debug' mode to see your tests in action in the browser

        section
          section
            h2 Continuous Integration

          section
            h3 Jenkins
            ul
              li Works out of the box
              li Uses development tools
              li Run commands as you would locally

          section
            h3 Git source control
            ul
              li Building a single branch
              li Building multiple branches
              li Special considerations with the workspace

          section
            h3 The Process
            ul
              li Install NPM and Bower packages
              li Run the assembly task
              li Test
              li Record the JUnit test results

          section
            h3 More on Tests
            p More than likely your CI will be running on a headless OS. How do you run end-to-end tests with no display?

          section
            h3
              a(href="http://phantomjs.org/", target="_blank") PhantomJS
            p Phantom JS is a headless WebKit browser
            ul.icons-ul
              li
                i.icon-li.icon-ok
                | Works out of the box
              li
                i.icon-li.icon-ok
                | Scriptable API
              li
                i.icon-li.icon-ok
                | Performance reporting
              li
                i.icon-li.icon-remove
                | Not comparable with Firefox
              li
                i.icon-li.icon-remove
                | It's a WebKit port, not a real browser
          section
            h3
              a(href="http://en.wikipedia.org/wiki/Xvfb", target="_blank") Xvfb
            p.
              <strong>X</strong> <strong>V</strong>irtual <strong>F</strong>rame <strong>B</strong>uffer
              provides a virtual X11 server on a headless device for GUI applications.
            ul.icons-ul
              li
                i.icon-li.icon-ok
                | Color depth and resolutions are customizable
              li
                i.icon-li.icon-ok
                | Easy to install and configure
              li
                i.icon-li.icon-ok
                | Test with Chrome, Firefox, etc.
              li
                i.icon-li.icon-remove
                | *nix only

          section
            h3 Examples

        section
          section
            h2 Angular.js

            ul
              li Teaching the browser new tricks
              li Dependency Injection
              li A bit of a learning curve (but not much)
              li Change the model, let Angular do the rest

          section
            h3 Modules

            ul
              li Small packages of functionality
              li Helps keep the application decoupled and promotes re-use
              li If minifying your code, make sure to use the array syntax
                a(href="https://npmjs.org/package/grunt-ngmin", target="_blank") (or use ng-min)

          section
            h3 Directives

            ul
              li The most powerful part of Angular
              li Meta-framework that you can use to create a DSL for the browser
              li 
                a(href="http://www.youtube.com/watch?v=WqmeI5fZcho&list=TLu6EfJmyWLcE", target="_blank") Great talk by Misko

          section
            h3 
              a(href="https://github.com/angular-ui/ui-router/wiki", target="_blank") UI Router
            ul
              li Cool project by the
                a(href="http://angular-ui.github.io/", target="_blank") Angular UI devs
              li Allows for nested views
              li Provides a complete state machine linked to your urls

        section
          section
            h2 
              a(href="http://joshdmiller.github.io/ng-boilerplate/#/home", target="_blank") ng-boilerplate

            ul
              li Very cool new project
              li Takes a different approach to code organization
              li Modules are self-contained (feels very Web Component-ish)

          section
            h3 Let's take a gander

            a(href="https://github.com/joshdmiller/ng-boilerplate") ng-boilerplate on Github

        section
          section
            h2 Conclusion
          section
            h1
              i.icon-question-sign
            h2 Questions

        //- section
        //-   h2 Heads Up
        //-   p.
        //-     reveal.js is a framework for easily creating beautiful presentations using HTML. You'll need a browser with
        //-     support for CSS 3D transforms to see it in its full glory.
        //-   aside.notes.
        //-     Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you
        //-     open the speaker notes window (hit 's' on your keyboard).

        //- section
        //-   section
        //-     h2 Vertical Slides
        //-     p.
        //-       Slides can be nested inside of other slides,
        //-       try pressing <a href="#" class="navigate-down">down</a>.
        //-     a(href="#",class="image navigate-down")
        //-       img(width="178", height="238", src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png", alt="Down arrow")

        //-   section
        //-     h2 Basement Level 1
        //-     p Press down or up to navigate.

        //-   section
        //-     h2 Basement Level 2
        //-     p Cornify
        //-     a(class="test", href="http://cornify.com")
        //-       img(width="280", height="326", src="https://s3.amazonaws.com/hakim-static/reveal-js/cornify.gif", alt="Unicorn")

        //-   section
        //-     h2 Basement Level 3
        //-     p That's it, time to go back up.
        //-     a(href="#/2", class="image")
        //-       img(width="178", height="238", src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png", alt="Up arrow", style="-webkit-transform: rotate(180deg);")

        //- section
        //-   h2 Slides
        //-   p.
        //-     Not a coder? No problem. There's a fully-featured visual editor for authoring these, try it out at
        //-     <a href="http://slid.es" target="_blank">http://slid.es</a>

        //- section
        //-   h2 Point of View
        //-   p Press <strong>ESC</strong> to enter the slide overview.
        //-   p.
        //-     Hold down alt and click on any element to zoom in on it using <a href="http://lab.hakim.se/zoom-js">zoom.js</a>.
        //-     Alt + click anywhere to zoom back out.

        //- section
        //-   h2 Works in Mobile Safari
        //-   p Try it out! You can swipe through the slides and pinch your way to the overview.

        //- section
        //-   h2 Marvelous Unordered List
        //-   ul
        //-     li No order here
        //-     li Or here
        //-     li Or here
        //-     li Or here

        //- section
        //-   h2 Fantastic Ordered List
        //-   ol
        //-     li One is smaller than...
        //-     li Two is smaller than...
        //-     li Three!

        //- section(data-markdown)
        //-   script(type="text/template")
        //-     |  ## Markdown support

        //-     |  For those of you who like that sort of thing. Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).

        //-     |  ```
        //-     |  <section data-markdown>
        //-     |    ## Markdown support
        //-     |    For those of you who like that sort of thing.
        //-     |    Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).
        //-     |  </section>
        //-     |  ```

        //- section(id="transitions")
        //-   h2 Transition Styles
        //-   p.
        //-     You can select from different transitions, like: <br>
        //-     <a href="?transition=cube#/transitions">Cube</a> -
        //-     <a href="?transition=page#/transitions">Page</a> -
        //-     <a href="?transition=concave#/transitions">Concave</a> -
        //-     <a href="?transition=zoom#/transitions">Zoom</a> -
        //-     <a href="?transition=linear#/transitions">Linear</a> -
        //-     <a href="?transition=fade#/transitions">Fade</a> -
        //-     <a href="?transition=none#/transitions">None</a> -
        //-     <a href="?#/transitions">Default</a>

        //- section(id="themes")
        //-   h2 Themes
        //-   p.
        //-     Reveal.js comes with a few themes built in: <br>
        //-     <a href="?theme=sky#/themes">Sky</a> -
        //-     <a href="?theme=beige#/themes">Beige</a> -
        //-     <a href="?theme=simple#/themes">Simple</a> -
        //-     <a href="?theme=serif#/themes">Serif</a> -
        //-     <a href="?theme=night#/themes">Night</a> -
        //-     <a href="?#/themes">Default</a>
        //-   p
        //-     small.
        //-       * Theme demos are loaded after the presentation which leads to flicker. In production you should load your theme in the
        //-       <code>&lt;head&gt;</code> using a <code>&lt;link&gt;</code>.

        //- section
        //-   h2 Global State
        //-   p.
        //-     Set <code>data-state="something"</code> on a slide and <code>"something"</code>
        //-     will be added as a class to the document element when the slide is open. This lets you
        //-     apply broader style changes, like switching the background.

        //- section(data-state="customevent")
        //-   h2 Custom Events
        //-   p Additionally custom events can be triggered on a per slide basis by binding to the <code>data-state</code> name.
        //-   pre.
        //-     <code data-trim contenteditable style="font-size: 18px; margin-top: 20px;">
        //-     Reveal.addEventListener( 'customevent', function() {
        //-       console.log( '"customevent" has fired' );
        //-     } );
        //-     </code>
        //- section
        //-   section(data-background="#007777")
        //-     h2 Slide Backgrounds
        //-     p.
        //-       Set <code>data-background="#007777"</code> on a slide to change the full page background to the given color.
        //-       All CSS color formats are supported.
        //-     a(href="#", class="image navigate-down")
        //-       img(width="178", height="238", src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png", alt="Down arrow")

        //-   section(data-background="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png")
        //-     h2 Image Backgrounds
        //-     pre
        //-       code &lt;section data-background="image.png"&gt;

        //-   section(data-background="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png", data-background-repeat="repeat", data-background-size="100px")
        //-     h2 Repeated Image Backgrounds
        //-     pre
        //-       code(style="word-wrap: break-word;") &lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;


        //- section(data-transition="linear", data-background="#4d7e65", data-background-transition="slide")
        //-   h2 Background Transitions
        //-   p Pass reveal.js the <code>backgroundTransition: 'slide'</code> config argument to make backgrounds slide rather than fade.

        //- section(data-transition="linear", data-background="#8c4738", data-background-transition="slide")
        //-   h2 Background Transition Override
        //-   p You can override background transitions per slide by using <code>data-background-transition="slide"</code>.

        //- section
        //-   h2 Clever Quotes
        //-   p.
        //-     These guys come in two forms, inline: <q cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
        //-     &ldquo;The nice thing about standards is that there are so many to choose from&rdquo;</q> and block:
        //-   blockquote(cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations").
        //-     &ldquo;For years there has been a theory that millions of monkeys typing at random on millions of typewriters would
        //-     reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.&rdquo;

        //- section
        //-   h2 Pretty Code
        //-   pre.
        //-     <code data-trim contenteditable>
        //-     function linkify( selector ) {
        //-       if( supports3DTransforms ) {
        //-         var nodes = document.querySelectorAll( selector );
        //-         for( var i = 0, len = nodes.length; i &lt; len; i++ ) {
        //-           var node = nodes[i];
        //-           if( !node.className ) {
        //-             node.className += ' roll';
        //-           }
        //-         };
        //-       }
        //-     }
        //-     </code>
        //-   p Courtesy of <a href="http://softwaremaniacs.org/soft/highlight/en/description/">highlight.js</a>.

        //- section
        //-   h2 Intergalactic Interconnections
        //-   p.
        //-     You can link between slides internally,
        //-     <a href="#/2/3">like this</a>.

        //- section
        //-   section
        //-     h2 Fragmented Views
        //-     p.fragment ... to step through ...
        //-     ol
        //-       li.fragment
        //-         code any type
        //-       li.fragment
        //-         em of view
        //-       li.fragment
        //-         strong fragments
        //-     aside.notes This slide has fragments which are also stepped through in the notes window.

        //-   section
        //-     h2 Fragment Styles
        //-     p There's a few styles of fragments, like:
        //-     p.fragment.grow grow
        //-     p.fragment.shrink shrink
        //-     p.fragment.roll-in roll-in
        //-     p.fragment.fade-out fade-out
        //-     p.fragment.highlight-red highlight-red
        //-     p.fragment.highlight-green highlight-green
        //-     p.fragment.highlight-blue highlight-blue

        //- section
        //-   h2 Spectacular image!
        //-   a.image(href="http://lab.hakim.se/meny/", target="_blank")
        //-     img(width="320", height="299", src="http://s3.amazonaws.com/hakim-static/portfolio/images/meny.png", alt="Meny")

        //- section
        //-   h2 Export to PDF
        //-   p.
        //-     Presentations can be <a href="https://github.com/hakimel/reveal.js#pdf-export">exported to PDF</a>,
        //-     below is an example that's been uploaded to SlideShare.
        //-   iframe(id="slideshare", src="http://www.slideshare.net/slideshow/embed_code/13872948", width="455", height="356", style="margin:0;overflow:hidden;border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px", allowfullscreen)
        //-   script.
        //-     document.getElementById('slideshare').attributeName = 'allowfullscreen';

        //- section
        //-   h2 Take a Moment
        //-   p.
        //-     Press b or period on your keyboard to enter the 'paused' mode. This mode is helpful when you want to take distracting slides off the screen
        //-     during a presentation.

        //- section
        //-   h2 Stellar Links
        //-   ul
        //-     li
        //-       a(href="http://slid.es") Try the online editor
        //-     li
        //-       a(href="https://github.com/hakimel/reveal.js") Source code on GitHub
        //-     li
        //-       a(href="http://twitter.com/hakimel") Follow me on Twitter

        //- section
        //-   h1 THE END
        //-   h3 BY Hakim El Hattab / hakim.se


    script(src="./assets/js/app.js")
